<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html";charset="UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <title>发布</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">后方</span>
                </button>
                <a class="navbar-brand" href="#">后方</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="搜索问题">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <!--<div th:text="${session.user}"></div>-->
                    <li th:if="${session.user == null}">
                        <a href="https://github.com/login/oauth/authorize?client_id=a87c65b1329811dd1ec6&redirect_uri=http://localhost:8882/callback&scope=user&state=1">登录</a>
                    </li>
                    <li class="dropdown" th:if="${session.user != null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}">我 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">消息中心</a></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="#">退出登录</a></li>>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


    </nav><div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-xs-12 col-sm-12">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true">留言</span></h2>
                <hr>

                <form action="">
                    <div class="form-group">
                        <label for="title">主题</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="主题">
                    </div>
                    <div class="form-group">
                        <label for="title">你的biu biu~~</label>
                        <textarea name="description" id="description" class="form-control" cols="30" rows="10">wait for u to input!</textarea>
                    </div>
                    <div class="form-group">
                        <label for="title">添加标签</label>
                        <input type="text" class="form-control" name="tag" id="tag" placeholder="输入标签，以，分隔">
                    </div>
                    <button type="button" class="btn btn-success btn-publish">submit</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-xs-12 col-sm-12">
                <h3>我的biubiu~~</h3>
                <h4>世界上七千个地方 我们定居哪</h4>
                ^也许明天我们就不再忧愁<br>
                ^where u think u're gonna go<br>
            </div>
        </div>
    </div>
</body>
</html>